doctype html
html(lang="en")
  head
    title= `${globals.title || 'Home'} | ${globals.siteName}`
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="MapTheClouds Home")
    link(rel="icon" href="https://mps-ph.s3.us-east-2.amazonaws.com/ma/icons/icon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="https://mps-ph.s3.us-east-2.amazonaws.com/ma/icons/icon.ico" type="image/x-icon")

    meta(property="og:title" content="MapTheClouds")
    meta(property="og:type" content="project")
    meta(property="og:url" content="https://maptheclouds.com")
    meta(property="og:description" content="Webdev and cartographer, on a journey to 3Dmaps and dataviz.  Grab a coffee and a laptop, we're going to map the clouds! ðŸŒ©ï¸ðŸžï¸ðŸŒ©ï¸")
   
    meta(property="project:publisher" content="https://maptheclouds.com")
    meta(property="project:section" content="Graphic")
    meta(property="project:tag" content="Graphic")
    meta(property="og:image" content="https://mps-ph.s3.us-east-2.amazonaws.com/ma/img/og_1200_630.png")
   
    meta(property="og:image:type" content="image/png")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:image" content="https://mps-ph.s3.us-east-2.amazonaws.com/ma/img/og_1200_630.png")
   
    meta(property="twitter:site" content="@maptheclouds")

  body
    .bubble(id="bubble")
    .wrapper
      block header
        nav.navbar.navbar-expand-lg.fixed-top.navbar-dark(href="/" role="navigation")
          a.navbar-brand(href="/")
           .site-branding-logo
          button.navbar-toggler(type="button" id="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation")
            span !{globals.icon('toggle-editor')}
            //- span.navbar-toggler-icon !{globals.icon('toggle-editor')}
          .collapse.navbar-collapse(id="navbar-collapse")
            ul.navbar-nav.ml-auto
              each item in globals.menu
                li.nav__item
                  a.nav-link(href=item.slug, class=(''))
                    //- != globals.icon(item.icon)
                    span #{item.title}
          .coffee

        .coffee-widget
          script( type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="maptheclouds" data-color="#FFDD00" data-emoji="â˜•"  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff")
      

      .cover(role="banner") 
        .cover-text 
          h1 #{globals.hero.title} 
          p.lead #{globals.hero.lead} 
          .panel 
            a.btn.btn-lg(href=`${globals.hero.link}` role="button") #{globals.hero.buttonText} 

      main(role="main")
        a(href="#top" style="color: white" title="Top of the page") 
            button(id="top-btn")
              span Ë„
        section.centered
          a(id="top" name="top" title="Top page anchor")
          
          if globals.myTitle
            h1 
              span.title !{globals.myTitle}
          .content
            block content
          //- .push 

      div.consent-popup(id="consent-popup" class="hidden")
        p By using this site you agree to our #[a(href="./terms.html") Terms and Conditions]. Please #[a(href="#" id="accept") Accept] these before using the site.
        button.consent-remove(id="consent-remove")
          span X

      block footer
        footer.site-footer(role="contentinfo")
          widget-area.footer-widgets(id="footer-widgets")
            section.widget.widget_copy
              ul 
                li
                  span Â© #{new Date().getFullYear()} 
                  a(href="/")
                    span #{globals.siteName}
            section.widget.widget-gdpr
              ul
                each item in globals.gdpr
                  li.nav__item
                    a.nav-link(href=item.slug, class=(''))
                      //- != globals.icon(item.icon)
                      span #{item.title}
            section.widget.wpcw-widgets.wpcw-widget-social
              ul 
                li.no-label 
                  a(href="https://twitter.com/maptheclouds" target="_blank" title="Visit Map The Clouds on Twitter")
                    span.fa.fa-2x.fa-twitter
                li.no-label 
                  a(href="https://www.instagram.com/maptheclouds" target="_blank" title="Visit Map The Clouds on Instagram")
                    span.fa.fa-2x.fa-instagram
                li.no-label 
                  a(href="https://github.com/alexaac" target="_blank" title="Visit Map The Clouds on GitHub")
                    span.fa.fa-2x.fa-github
                //- li.no-label 
                //-   a(href="https://www.pinterest.com/maptheclouds" target="_blank" title="Visit Map The Clouds on Pinterest")
                //-     span.fa.fa-2x.fa-pinterest
                li.no-label 
                  a(href="mailto:alexa@maptheclouds.com" target="_blank" title="Mail")
                    span.fa.fa-2x.fa-at
                li.no-label 
                  a(href="https://www.linkedin.com/company/maptheclouds" target="_blank" title="Visit Map The Clouds on LinkedIn")
                    span.fa.fa-2x.fa-linkedin
                li.no-label 
                  a(href="https://www.facebook.com/maptheclouds3d" target="_blank" title="Visit Map The Clouds on Facebook")
                    span.fa.fa-2x.fa-facebook
                li.no-label 
                  a(href="https://www.behance.net/maptheclouds" target="_blank" title="Visit Map The Clouds on Behance")
                    span.fa.fa-2x.fa-behance
                

    link(href= "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel='stylesheet')

    script.
      if ('serviceWorker' in navigator) { // Check that service workers are supported
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }

